<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submission Results</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="header">
        <a href="https://www.ird.fr"><img src="/images/ird.png" alt="Logo IRD"></a>
        <a href="https://across-lab.org/"><img src="/images/ACROSS-3@3x.png" alt="Logo ACROSS"></a>
        <a href="https://www.project-simple.eu"><img src="/images/simple.png" alt="Logo SIMPLE"></a>
    </div>
    <h1>Thank you for submitting your evaluations. Your responses have been submitted to the Simple Project team for review.</h1>
    <div class="gif-example">
           
        <img src="/images/giphy.gif" alt="Example of Drag and Drop" style="width:300px; height:300px;">

    </div>
</body>
</html>





