<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Evaluation</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="header">
        <a href="https://www.ird.fr"><img src="/images/ird.png" alt="Logo IRD"></a>
        <a href="https://across-lab.org/"><img src="/images/ACROSS-3@3x.png" alt="Logo ACROSS"></a>
        <a href="https://www.project-simple.eu"><img src="/images/simple.png" alt="Logo SIMPLE"></a>
    </div>
    <div class="container">
        <div class="content">
            <h1>Welcome to Our Interactive Evaluation Session!</h1>
            <p>This process collects your feedback on various objects displayed as animated GIFs. Your input will be instrumental in determining which 3D object generation tools are perceived as the best.</p>
            
            <h2>How to Participate?</h2>
           
            <p><strong>Start the Evaluation:</strong> Click on the "Start" button to begin.</p>
            <p><strong>View the GIFs:</strong> You'll be presented with several GIFs on the evaluation page. Each GIF is related to the prompt displayed above them. Take your time to view each one carefully.</p>
            <p><strong>Rearrange the GIFs:</strong> You have the ability to rearrange the GIFs in response to the prompt. Drag and drop them to order them from your most preferred to least preferred based on how well they align with the prompt.</p>
            <p><strong>Rate the GIFs:</strong> Assign a mark to the GIF you've placed first and another mark to the GIF you've placed last using the sliders provided. These marks should reflect their relevance to the prompt.0 is the least relevant and 5 is the most relevant.</p>
            <p><strong>Submit Your Evaluation:</strong> After organizing and rating the GIFs,Continue to the next step.</p>
        

            <h2>What Happens Next?</h2>
            <p>Your evaluations are crucial and will help us determine which 3D object generation tools are perceived as the best. This process is anonymous, and the collected data will be used exclusively for evaluative purposes.</p>

            <h2>Need Help?</h2>
            <p>If you encounter any issues or have questions during the evaluation, please reach out to our technical support team for assistance.</p>
            
            <button onclick="location.href='/evaluation'">Start</button>
        </div>
        <div class="gif-example">
           
            <img src="/images/drag-and-drop-number.gif" alt="Example of Drag and Drop" style="width:300px; height:300px;">

        </div>
    </div>
</body>
</html>
