<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
</head>
<body>
    <div class="header">
        <img src="/images/ird.png" alt="Logo IRD">
        <img src="/images/ACROSS-3@3x.png" alt="Logo ACROSS">
        <img src="/images/simple.png" alt="Logo SIMPLE">
    </div>
    <div class="content">
        <% include(ejsFile) %>
    </div>
</body>
</html>
